#define CONF_BANK
#define ADD_TM_BANK2
#define ADD_CHM_SUPPORT
#define CONF_STORE
#define CONF_FLUSH
#undef CONF_SPU
#define ADD_RHCOPY_SUPPORT
#define ADD_ARTRET
#define ADD_LOYALTY_POINTS
#undef ADD_TM_FLUSH_WITH_ID
#define ADD_EXT_ARTID_RSP
#define REFUND
#undef EXPLICIT_ERROR
#undef RAINY_DAY
#define DUMMY_SHORT 999
#define DUMMY_INT 999
#define C900_TIMEOUT 900
